@font-face {
    font-family: WorkSans-Bold;
    src: url(assets/fonts/static/WorkSans-Bold.ttf);
}

@font-face {
    font-family: WorkSans-Regular;
    src: url(assets/fonts/static/WorkSans-Regular.ttf);
}

@font-face {
    font-family: WorkSans-SemiBold;
    src: url(assets/fonts/static/WorkSans-SemiBold.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(assets/images/background-pattern-desktop.svg) top no-repeat, hsl(275, 100%, 97%) bottom no-repeat;
    background-size: auto, cover;

}

.container {
    position: absolute;
    width: 420px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: hsl(0, 0%, 100%);
    padding: 1.6em;
    box-shadow: 0 0 5px .8px hsl(229, 6%, 66%);
    border-radius: .5em;
    z-index: 100;
}

.container .icon {
    display: flex;
    align-self: flex-start;
    
}

.icon h2 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 2.6em;
    font-weight: 500;
    font-family: WorkSans-Bold;
    align-self: flex-start;
    margin-bottom: .3em;
    color: hsl(292, 42%, 14%);
}

h2 img {
    width: 25px;
}

.container .minus {
    display: flex;
    align-self: flex-start;
}

.minus h5 {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    font-size: .77em;
    font-weight: 200;
    font-family: WorkSans-Bold;
    color: hsl(292, 42%, 14%);
    margin-bottom: 1.2em;
}

.container h5 img {
    width: 20px;
    display: flex;
    align-self: flex-end;
}

.container .p {
    color: hsl(292, 16%, 49%);
    font-size: .8em;
    line-height: 1.1em;
    margin-bottom: 1em;
    font-family: WorkSans-Regular;
}

.container .plus {
    display: flex;
    flex-direction: column;
}

.plus .par {
    /* border-bottom: 1px solid hsl(0, 0%, 100%); */
    display: flex;
    flex-direction: column;
}

.par .ques{
    display: flex;
    justify-content: space-between;
    font-size: .8em;
    color: hsl(292, 42%, 14%);
    font-weight: 700;
    font-family: WorkSans-Bold;
    margin-bottom: 1.2em;
    margin-top: 1.2em;
}

.ques img {
    width: 20px;
   
}

.par .ans {
    font-size: .8em;
    font-weight: 300;
    font-family: WorkSans-Regular;
    color: hsl(292, 16%, 49%);
}

.container .line {
    width: 100%;
    border-bottom: 2px solid hsl(0, 0%, 100%);
}

.container .hide {
    display: none;
}